@model GulfCoastWorkforceSolutions.Models.Checkout.ThankYouViewModel

@{ 
    ViewBag.Title = ResHelper.GetString("GulfCoastWorkforceSolutionsMvc.Checkout.ThankYou");
}

<div class="col-md-6 col-lg-5">
    <div class="thank-you-content">
        <h2>@ResHelper.GetString("GulfCoastWorkforceSolutionsMvc.Checkout.ThankYou")</h2>

        <p>@ResHelper.GetString("GulfCoastWorkforceSolutionsMvc.Order.Success")</p>
        <p>@Html.Raw(ResHelper.GetStringFormat("GulfCoastWorkforceSolutionsMvc.Order.Questions", Model.Phone))</p>
    </div>
</div>
