
@{
    ViewBag.Title = ResHelper.GetString("GulfCoastWorkforceSolutionsMvc.PasswordReset");
}

<h2>@ResHelper.GetString("GulfCoastWorkforceSolutionsMvc.PasswordReset.Succeeded")</h2>
@Html.ActionLink(ResHelper.GetString("GulfCoastWorkforceSolutionsMvc.SignIn"), "Login", null, new { @class = "btn btn-secondary" })
