@model GulfCoastWorkforceSolutions.Models.Brewers.BrewerViewModel

<div class="product-detail-properties">
    <h4>@ResHelper.GetString("GulfCoastWorkforceSolutionsMvc.Product.Parameters")</h4>
    <dl class="row">
        <dt class="col-xs-12 col-sm-4">@ResHelper.GetString("GulfCoastWorkforceSolutionsMvc.Brewer.IsDishwasherSafe")</dt>
        <dd class="col-xs-12 col-sm-8">@ResHelper.GetString(Model.IsDishwasherSafe ? "GulfCoastWorkforceSolutionsMvc.General.Yes" : "GulfCoastWorkforceSolutionsMvc.General.No")</dd>
    </dl>
</div>